/* Empty file for template. Remember to edit only this file and not the HTML file */
.intro > header > h1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.intro > header > h2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

header  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.page-wrapper   {
    background-color: lightgoldenrodyellow;
}

.summary {
 display: flex;
 flex-direction: column;
 justify-content: flex-end;
 align-items: center;
}

#design-archives  {
    background-color: rgba(160, 148, 130, 0.749);
}

#design-selection  {
    background-color: rgba(160, 148, 130, 0.749)
}

#zen-resources  {
    background-color: rgba(160, 148, 130, 0.749);
}

.preamble   {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
        }
ul {
    background-color: rgba(160, 148, 130, 0.749)
}

a:hover {
    background-color: azure;
    font-size: 15px;
}

a:active {
    background-color: tan;
}

* {
    border: 1px solid burlywood;
    background-color: lightgoldenrodyellow;
}

h1 {
    border: 1px solid burlywood;
    background-color: lightgoldenrodyellow;
}

p   {
    background-color: lightgoldenrodyellow(228, 228, 228);
}

h1, h2, h3  {
    background-color: rgba(203, 189, 166, 0.749);
    border: 1px solid gray;
}

p::after    {
    content: "-remember this";
}

.wrapper    {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.design-selection   {
    display: flex;
}

a[href] {
    background-color: rgba(162, 154, 141, 0.749);
  }
  
  p[lang] {
    background-color: salmon;
  }