/* Empty file for template. Remember to edit only this file and not the HTML file */
.intro > header > h1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.intro > header > h2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

header  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.page-wrapper   {
    background-color: lightgoldenrodyellow;
}

.summary {
 display: flex;
 flex-direction: column;
 justify-content: flex-end;
 align-items: center;
}

#design-archives  {
    background-color: rgba(160, 148, 130, 0.749);
}

#design-selection  {
    background-color: rgba(160, 148, 130, 0.749)
}

#zen-resources  {
    background-color: rgba(160, 148, 130, 0.749);
}

.preamble   {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
        }
ul {
    background-color: rgba(160, 148, 130, 0.749)
}

a:hover {
    background-color: azure;
    font-size: 15px;
}

a:active {
    background-color: tan;
}

* {
    border: 1px solid burlywood;
    background-color: lightgoldenrodyellow;
}

h1 {
    border: 1px solid burlywood;
    background-color: lightgoldenrodyellow;
}

p   {
    background-color: lightgoldenrodyellow(228, 228, 228);
}

h1, h2, h3  {
    background-color: rgba(203, 189, 166, 0.749);
    border: 1px solid gray;
}

p::after    {
    content: "-remember this";
}

.wrapper    {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.design-selection   {
    display: flex;
}

a[href] {
    background-color: rgba(162, 154, 141, 0.749);
  }
  
  p[lang] {
    background-color: salmon;
  }

  a:visited {
    color: rgb(243, 255, 192);
  }

  ::selection {
    color: white;
    background: rgba(160, 148, 130, 0.749);
  }

    :root {
        background-color: rgba(160, 148, 130, 0.749);
        padding: 10px;
      }

      p:only-of-type {
        background-color: lightgray;
      }
      
      li:only-of-type {
        color: salmon;
      }
      
      b:only-of-type {
        color: green;
      }
     
      div:nth-of-type(2) {
        background: lightgray;
      }
      div:nth-of-type(4) {
        background: lightgray;
      }
    
      li:nth-of-type(2) {
        background: lightgoldenrodyellow(162, 154, 141, 0.749);
      }
      
      :nth-of-type(3) {
        background: lightgoldenrodyellow;
      }

      li:nth-last-of-type(1) {
        background: lightgray;
      }
      
      p:nth-last-of-type(1) {
        background: light;
      }
      p:nth-last-child(1) {
        background-color: rgb(255, 255, 255);
      }

      :nth-child(4) {
        background-color: lightgray;
      }
      
      
      div:nth-child(2) {
        background-color: lightgrey;
      }
      
      
      li:nth-child(2) {
        background-color: lightgray;
      }

      p {
        color: black;
      }
      
      :not(p) {
        color: rgb(90, 84, 59);
      }

      a:link {
        background-color: rgba(247, 227, 199, 0.749);
      }

      h1:last-of-type {
  background-color: rgb(242, 243, 239);
}

h2:last-of-type {
  background-color: rgb(241, 241, 236);
}
p:last-child {
    background-color: lightgoldenrodyellow(185, 185, 175);
  }
  
  h3:last-child {
    background-color: rgb(153, 153, 91);
  }
 
  li:first-of-type {
    background-color: lightgrey;
  }

  p::first-line {
    font-size: 17px;
    text-decoration: underline; 
    background-color: rgb(174, 202, 174);
  }

  p::first-letter {
    font-size: 150%;
    font-weight: bold;
    color: #473657;
  }

  p:first-child {
    background-color: rgb(255, 255, 255);
  }

  p::before {
    content: "Steps -";
  }

  div[class^="benefits"] {
    background: rgb(148, 127, 125);
  }

  div[class$="participation"] {
    background: rgb(148, 127, 125);
  }

  div[class*="main supporting"] {
    background: rgb(148, 127, 125);
  }

 

  